<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 
<suite name="Mobile Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.example.tests.LoginTest"/>
           <!--  <class name="com.example.tests.OtherTestClass"/>-->
            <!-- Add other test classes here -->
        </classes>
    </test>
</suite>
